PORT=3001

# memory | sqlite | postgres
DATABASE=memory

# utilise si DATABASE=sqlite
SQLITE_PATH=./ecoeats.sqlite

# utilise si DATABASE=postgres
POSTGRES_URL=postgres://postgres:postgres@localhost:5433/ecoeats

